* {
  box-sizing: border-box;
}

html {
  font-family: 'Raleway', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 10px;
}

html, body, main, #app {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
}

.relative {
  position: relative;
}

.panel-container {
  display: flex;
  height: 100%;
  width: 100%;
}

.loading-block {
  width: 100%;
  height: 100%;
  text-align: center;
}

.loader{
  margin: 0 0 2em;
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
  path, rect {
    fill: $blue;
  }
}
