.center-block {
  margin: 0 auto;
  display: block;
}

.img {
  max-width: 100%;
  display: block;
}

.width-90 {
  width: 90%;
}

.width-50 {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

@media screen and (max-width: 640px) {
  .w100 {
    width: 100%;
  }
}
