.menu-bar {
  width: 100%;
  color: $offwhite;
  border-bottom: 2px solid $lightgrey;
  padding: 1rem;
  text-align: right;
}

.menu-bar__option {
  background: none;
  border: 0;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  color: $grey;
  font-size: 1.4rem;
  font-weight: 700;
  &.button {
    background: $blue;
    color: white;
    &:hover {
      background-color: darken($blue, 5%);
      color: inherit;
    }
  }
  &:hover {
    color: darken($grey, 15%);
  }
  &:last-of-type {
    margin: 0 0 0 1rem;
  }
}
