.preview-panel {
  width: 75%;
  display: flex;
  flex-direction: column;
}

.email-preview {
  height: 100%;
  overflow: scroll;
  &.hovering {
    border: 5px solid $blue;
  }
}

.selected {
  border: 2px solid $blue;
}

.preview-panel--empty {
  text-align: center;
  width: 70%;
  position: absolute;
  top: 50%;
}
